<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Send SMS</title>
    <script src= "js/main.js" defer></script>
</head>
<body>
    <div class="container">
        <h2>Send Message</h2>
        <input type="tel" name="number" id="number" placeholder="Enter Mobile Number">
        <!-- <input type="text" name="msg" id="msg" placeholder="Enter Text message"> -->
        <input type="button" id="button" value="Send Text" class="button">
    </div>
</body>
</html>